<ion-view view-title="Calculator">
  <ion-content>
	 <div id="output" class="row">  
	  <h1 class="col" ng-model="output">{{output}}</h1>
	</div>

	<div class="row">
	  <button class="button col mygrid" ng-click="updateOutput('7')">7</button>
	  <button class="button col mygrid" ng-click="updateOutput('8')">8</button>
	  <button class="button col mygrid" ng-click="updateOutput('9')">9</button>
	  <button class="button col mygrid operator" ng-click="calculate('/')">/</button>
	</div>

	<div class="row">
	  <button class="button col mygrid" ng-click="updateOutput('4')">4</button>
	  <button class="button col mygrid" ng-click="updateOutput('5')">5</button>
	  <button class="button col mygrid" ng-click="updateOutput('6')">6</button>
	   <button class="button col mygrid operator" ng-click="calculate('*')">*</button>
	</div>

	<div class="row">
	  <button class="button col mygrid" ng-click="updateOutput('1')">1</button>
	  <button class="button col mygrid" ng-click="updateOutput('2')">2</button>
	  <button class="button col mygrid" ng-click="updateOutput('3')">3</button>
	  <button class="button col mygrid operator" ng-click="calculate('-')">-</button>
	</div>

	<div class="row">
	  <button class="button col mygrid" ng-click="reset()">C</button>
	  <button class="button col mygrid" ng-click="updateOutput('0')">0</button>
	 
	  <button class="button col mygrid " ng-click="calculate('=')">=</button>
	  <button class="button col mygrid operator" ng-click="calculate('+')">+</button>
	</div>
  </ion-content>
</ion-view>
