.row {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 100% !important;
  -ms-flex: 0 1 100% !important;
  flex: 0 1 100% !important;
  padding: 0px; 
}

.row .button {
    border-bottom-width: 0px;
    background-color: #D5D6DA;
    border-color: #202020;
    font-size: 25px;
    border-radius: 0px; 
}

.row .button[ng-click="reset()"] {
      background-color: #C8C9CB; 
}

.row .operator {
    background-color: #F78E11; 
}

.pane > .button-bar > .button {
  border-radius: 0px 0px 0px 0px; 
}

#output {
  text-align: right;
  background-color: #202020; 
}

#output h1 {
    color: #fff;
    font-size: 60px;
    vertical-align: center; 
}

.scroll {
  height: 99% !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-box-direction: normal !important;
  -moz-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  -moz-box-orient: vertical !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; 
}
